<app-header titulo="card"></app-header>
<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum pariatur, eius aperiam in incidunt fugiat atque dignissimos doloremque explicabo expedita optio ad debitis quas neque unde minus molestias excepturi ducimus.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://th.bing.com/th/id/R.2bdf86cdb5fa48da3f73f057ddc80706?rik=fNWJtN9VwA782w&riu=http%3a%2f%2fimages6.fanpop.com%2fimage%2fphotos%2f36500000%2fKakashi-image-kakashi-36593743-920-700.jpg&ehk=rsiCB35S%2f0T3W2Yah27sSvJDNCg1cIf6vJ4bLbZfRos%3d&risl=&pid=ImgRaw&r=0">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum pariatur, eius aperiam in incidunt fugiat atque dignissimos doloremque explicabo expedita optio ad debitis quas neque unde minus molestias excepturi ducimus.
    </ion-card-content>
  </ion-card>
</ion-content>
